body>header {
    background: #eee;
    padding: 5px;


}
#menu{
    font-size: 40px;

}
#menu:hover {
    text-decoration: nounderline;
}

body>footer {
    background: #eee;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}
